/* ================================
   ABOUT PAGE
================================ */

/* BANNER */
.about-banner {
  position: relative;
  height: 300px;
  background: url("/images/about-banner.svg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-banner-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(10, 50, 100, 0.3);
}

.about-banner-content {
  position: relative;
  text-align: center;
  color: white;
}

.breadcrumb {
  font-size: 14px;
  opacity: 0.8;
}

/* ================================
   ABOUT MAIN CONTENT
================================ */
.about-content {
  display: flex;
  gap: 40px;
  width: 90%;
  margin: 60px auto;
  align-items: center;
}

.about-left img {
  width: 100%;
  border-radius: 10px;
}

.section-subtitle {
  color: #4A78CC;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 700;
  
}
.about-points ul {
    list-style: none;
}

.section-title {
  font-size: 34px;
  font-weight: 700;
  color: #183153;
  margin: 10px 0 20px;
  text-align: left;
}

.about-points {
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
}

.about-text {
  margin-bottom: 15px;
  color: #333;
}

/* ================================
   QUOTE SECTION
================================ */

.about-quote {
  background: url("/images/quote-bg.png") center/cover no-repeat;
  height: 300px;
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quote-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(10, 30, 70, 0.5);
}

.quote-content {
  position: relative;
  text-align: center;
  max-width: 600px;
}

.quote-author {
  margin-top: 10px;
}

.quote-dots {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.quote-dots span {
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
}

.quote-dots .active {
  background: #4A78CC;
}
